*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #f6f6f6;
    display: block;
}

div {
    display: block;
}

form {
    display: block;
    border: 0;
    margin: 0;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

a {
    text-decoration: none !important;
    color: #0645ad;
    background: none;
}

a:visited {
    color: #0b0080;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    font-weight: bold;
    font-size: 128%;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    background: none;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    border-bottom: 1px solid #a2a9b1;
}

h3, h4, h5, h6 {
    border-bottom: 0;
    font-weight: bold;
}

h3, h4, h5 {
    margin-bottom: 0.3em;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul {
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin-bottom: 0.1em;
}

input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb !important;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

input[type="radio" i], input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}

input[type="radio" i], input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}

input[type="checkbox" i] {
    margin: 3px 3px 3px 4px;
}

input[type="search" i] {
    -webkit-appearance: searchfield;
    box-sizing: border-box;
}

input[type="search" i] {
    padding: 1px;
}

h1 {
    font-size: 188%;
}
h1 {
    font-size: 188%;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

strong, b {
    font-weight: bold;
}

textarea {

    width: 100%;
    padding: 0.1em;
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

#mw-head {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

#p-personal {
    position: absolute;
    top: 0.33em;
    right: 0.75em;
    z-index: 100;
}

#p-personal h3 {
    display: none;
}

#p-personal ul {
    list-style: none none;
    margin: 0;
    padding-left: 10em;
}

#pt-anonuserpage, #pt-userpage a {
    background-image: url(/w/skins/Vector/images/user-avatar.png?59494);
    background-image: linear-gradient(transparent, transparent), url(data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%222…%3E %3Ccircle cx=%2210%22 cy=%225.5%22 r=%224.5%22/%3E %3C/g%3E %3C/svg%3E);
    background-position: left 0.33333333em;
    background-repeat: no-repeat;
    background-size: 1.16666667em 1.16666667em;
    padding-top: 0.5em !important;
    padding-left: 16px !important;
}

#pt-anonuserpage {
    color: #54595d;
}

#p-personal li {
    float: left;
    margin-left: 0.75em;
    padding-top: 0.5em;
    font-size: 0.75em;
    line-height: 1.16666667em;
    white-space: nowrap;
}

#left-navigation {
    float: left;
    margin-left: 10em;
    margin-top: 2.5em;
    margin-bottom: -2.5em;
}

.vectorTabs {
    float: left;
    height: 2.5em;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAIAAABmjeQ9AAAAQ0lEQ…OcUegfarWjP3ojZvEzxs6j+nygmo+zzsk79nY+tOxdEhlf3UHVgUFrVwAAAABJRU5ErkJggg==);
    background-image: url(/w/skins/Vector/images/tab-break.png?09d4b)!ie;
    background-position: bottom left;
    background-repeat: no-repeat;
    padding-left: 1px;
}

.vectorTabs h3 {
    display: none;
}

.vectorTabs ul {
    float: left;
    height: 100%;
    list-style: none none;
    margin: 0;
    padding: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAIAAABmjeQ9AAAAQ0lEQ…OcUegfarWjP3ojZvEzxs6j+nygmo+zzsk79nY+tOxdEhlf3UHVgUFrVwAAAABJRU5ErkJggg==);
    background-image: url(/w/skins/Vector/images/tab-break.png?09d4b)!ie;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.vectorTabs li {
    float: left;
    line-height: 1.125em;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABkCAIAAADITs03AAAAO0lEQ…gBjl2f78wd2DVj1+26/h///PfteVMN7zoGebcg1/Y/ZQQAlAUtQCujIJMAAAAASUVORK5CYII=);
    background-image: url(/w/skins/Vector/images/tab-normal-fade.png?1cc52)!ie;
    background-position: bottom left;
    background-repeat: repeat-x;
    white-space: nowrap;
}

.vectorTabs li.selected {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABkAQAAAABvV2fNAAAADElEQVR4AWNoGB4QAInlMgFKeRKBAAAAAElFTkSuQmCC);
    background-image: url(/w/skins/Vector/images/tab-current-fade.png?22887)!ie;
}

.vectorTabs li.selected a, .vectorTabs li.selected a:visited {
    color: #222;
    text-decoration: none;
}

.vectorTabs span {
    display: inline-block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAIAAABmjeQ9AAAAQ0lEQ…OcUegfarWjP3ojZvEzxs6j+nygmo+zzsk79nY+tOxdEhlf3UHVgUFrVwAAAABJRU5ErkJggg==);
    background-image: url(/w/skins/Vector/images/tab-break.png?09d4b)!ie;
    background-position: bottom right;
    background-repeat: no-repeat;
    height: 100%;
}

.vectorTabs span a {
    float: left;
    display: block;
    position: relative;
    padding-top: 1.25em;
}

.vectorTabs li.selected a, .vectorTabs li.selected a:visited {
    color: #222;
    text-decoration: none;
}

.vectorMenu {
    direction: ltr;
    float: left;
    cursor: pointer;
    position: relative;
    line-height: 1.125em;
}

.vectorMenuCheckbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: none;
}

.sitedir-ltr textarea, .sitedir-ltr input {
    direction: ltr;
}

:not(:checked)>.vectorMenuCheckbox {
    display: block;
}

#mw-head .vectorMenu h3 {
    float: left;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAIAAABmjeQ9AAAAQ0lEQ…OcUegfarWjP3ojZvEzxs6j+nygmo+zzsk79nY+tOxdEhlf3UHVgUFrVwAAAABJRU5ErkJggg==);
    background-image: url(/w/skins/Vector/images/tab-break.png?09d4b)!ie;
    background-repeat: no-repeat;
    background-position: bottom right;
    font-size: 1em;
    height: 2.5em;
    padding: 0 0.5em 0 0;
    margin: 0 -1px 0 0;
}

.vectorMenu h3 span {
    position: relative;
    display: block;
    font-size: 0.8125em;
    padding-left: 0.615em;
    padding-top: 1.25em;
    padding-right: 16px;
    font-weight: normal;
    color: #444;
}

.vectorMenu ul {
    list-style: none none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.vectorMenu .menu {
    list-style: none none;
    background-color: #ffffff;
    clear: both;
    min-width: 100%;
    position: absolute;
    top: 2.5em;
    left: -1px;
    margin: 0;
    border: 1px solid #a2a9b1;
    border-top-width: 0;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 100ms;
    -moz-transition: opacity 100ms;
    transition: opacity 100ms;
    z-index: 2;
}

#right-navigation {
    float: right;
    margin-top: 2.5em;
}

#p-search {
    float: left;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

#p-search h3 {
    display: block;
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

#p-search form, #p-search input {
    margin: 0.4em 0 0;
}

#simpleSearch {
    background-color: #fff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAQCAIAAABY/YLgAAAAJUlEQVQIHQXBsQEAAAjDoND/73UWdnerhmHVsDQZJrNWVg3Dqge6bgMe6bejNAAAAABJRU5ErkJggg==);
    background-image: url(/w/skins/Vector/images/search-fade.png?50f7b)!ie;
    background-position: top left;
    background-repeat: repeat-x;
    color: #000;
    display: block;
    width: 12.6em;
    width: 20vw;
    min-width: 5em;
    max-width: 20em;
    padding-right: 1.4em;
    height: 1.4em;
    margin-top: 0.65em;
    position: relative;
    min-height: 1px;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    -webkit-transition: border-color 250ms;
    -moz-transition: border-color 250ms;
    transition: border-color 250ms;
}

.sitedir-ltr textarea, .sitedir-ltr input {
    direction: ltr;
}

#p-search form, #p-search input {
    margin: 0.4em 0 0;
}

#simpleSearch input {
    background-color: transparent;
    color: #000;
    margin: 0;
    padding: 0;
    border: 0;
}

#simpleSearch #searchInput {
    width: 100%;
    padding: 0.2em 0 0.2em 0.2em;
    font-size: 0.8125em;
    direction: ltr;
    -webkit-appearance: textfield;
}

#simpleSearch #searchButton, #simpleSearch #mw-searchButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.65em;
    height: 100%;
    cursor: pointer;
    text-indent: -99999px;
    direction: ltr;
    white-space: nowrap;
    overflow: hidden;
}

#simpleSearch #searchButton {
    background-image: url(/w/skins/Vector/images/search-ltr.png?39f97);
    background-image: linear-gradient(transparent, transparent), url(data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%221…4%22/%3E %3Ccircle cx=%225%22 cy=%225%22 r=%224%22/%3E %3C/g%3E %3C/svg%3E);
    background-position: center center;
    background-repeat: no-repeat;
}

#mw-panel {
    font-size: inherit;
    position: absolute;
    top: 0;
    width: 10em;
    left: 0;
}

#p-logo {
    width: 10em;
    height: 160px;
}

#mw-panel .portal {
    margin: 0 0.6em 0 0.7em;
    padding: 0.25em 0;
    direction: ltr;
    background-position: top left;
    background-repeat: no-repeat;
}

#mw-panel #p-logo+.portal {
    background-image: none;
    margin-top: 1em;
}

#mw-panel .portal h3 {
    font-size: 0.75em;
    color: #444444;
    font-weight: normal;
    margin: 0.5em 0 0 0.66666667em;
    padding: 0.25em 0;
    cursor: default;
    border: 0;
}

#mw-panel #p-logo+.portal h3 {
    display: none;
}

#mw-panel .portal .body {
    margin-left: 0.5em;
    padding-top: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAAABCAAAAAAphRnkAAAAJ0lEQVQIW7XFsQEAIAyAMPD/b7uLWz8wS5youFW1UREfiIpH1Q2VBz7fGPS1dOGeAAAAAElFTkSuQmCC);
    background-image: url(/w/skins/Vector/images/portal-break.png?3ea1b)!ie;
    background-repeat: no-repeat;
}

#mw-panel #p-logo+.portal .body {
    background-image: none;
    margin-left: 0.5em;
}

#mw-panel .portal .body ul {
    list-style: none none;
    margin: 0;
    padding: 0.3em 0 0 0;
}

#mw-panel .portal .body li {
    line-height: 1.125em;
    margin: 0;
    padding: 0.25em 0;
    font-size: 0.75em;
    word-wrap: break-word;
}

#mw-panel .portal .body li a {
    color: #0645ad;
}

#mw-panel .portal .body li a:visited {
    color: #0b0080;
}

#mw-panel .portal h3 {
    font-size: 0.75em;
    color: #444444;
    font-weight: normal;
    margin: 0.5em 0 0 0.66666667em;
    padding: 0.25em 0;
    cursor: default;
    border: 0;
}
#footer {
    margin-left: 10em;
    margin-top: 0;
    padding: 0.75em;
    direction: ltr;
}
#footer ul {
    list-style: none none;
    margin: 0;
    padding: 0;
}
#footer ul li {
    color: #222;
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.7em;
}
#footer #footer-info li {
    line-height: 1.4em;
}
#footer #footer-places li {
    float: left;
    margin-right: 1em;
    line-height: 2em;
}
#footer #footer-icons {
    float: right;
}
#footer #footer-icons li {
    float: left;
    margin-left: 0.5em;
    line-height: 2em;
    text-align: right;
}
.mw-body, .parsoid-body {
    padding: 1em;
    background-color: #ffffff;
    color: #222222;
    direction: ltr;
}
.mw-body {
    margin-left: 10em;
    border: 1px solid #a7d7f9;
    border-right-width: 0;
    margin-top: -1px;
}
.firstHeading {
    margin-bottom: 0.1em;
    line-height: 1.2em;
    padding-bottom: 0;
}
.mw-body h1, .mw-body-content h1, .mw-body-content h2 {
    font-family: 'Linux Libertine','Georgia','Times',serif;
    line-height: 1.3;
    margin-bottom: 0.25em;
    padding: 0;
}
.mw-body h1, .mw-body-content h1 {
    font-size: 1.8em;
}
.mw-body .firstHeading {
    overflow: visible;
}

.mw-body-content {
    position: relative;
    line-height: 1.6;
    font-size: 0.875em;
    z-index: 0;
}
#siteSub {
    font-size: 92%;
    display: block;
}
#contentSub, #contentSub2 {
    font-size: 84%;
    line-height: 1.2em;
    margin: 0 0 1.4em 1em;
    color: #54595d;
    width: auto;
}
.mw-content-ltr {
    direction: ltr;
}
.mw-body-content p {
    line-height: inherit;
    margin: 0.5em 0;
}
.toc, .mw-warning, .toccolours {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 5px;
    font-size: 95%;
}
.toc {
    display: inline-block;
    display: table;
    zoom: 1;
    *display: inline;
    padding: 7px;
}
.toc .toctitle {
    direction: ltr;
}
.toc .toctitle {
    text-align: center;
}
.mw-content-ltr ul, .mw-content-rtl .mw-content-ltr ul {
    margin: 0.3em 0 0 1.6em;
    padding: 0;
}
.toc ul {
    margin: 0.3em 0;
}
.toc ul {
    list-style-type: none;
    list-style-image: none;
    margin-left: 0;
    padding: 0;
    text-align: left;
}
.mw-content-ltr .toc ul, .mw-content-rtl .mw-content-ltr .toc ul {
    text-align: left;
}
.tocnumber, .toctext {
    display: table-cell;
    text-decoration: inherit;
}
.tocnumber {
    padding-left: 0;
    padding-right: 0.5em;
    color: #222;
}
.mw-content-ltr .tocnumber {
    padding-left: 0;
    padding-right: 0.5em;
}
.mw-body-content h2 {
    font-size: 1.5em;
    margin-top: 1em;
}
.mw-body-content p {
    line-height: inherit;
    margin: 0.5em 0;
}
.catlinks {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 5px;
    margin-top: 1em;
    clear: both;
}
#catlinks {
    text-align: left;
}
.catlinks ul {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none none;
    vertical-align: middle !ie;
}
.catlinks li {
    display: inline-block;
    line-height: 1.25em;
    border-left: 1px solid #a2a9b1;
    margin: 0.125em 0;
    padding: 0 0.5em;
    zoom: 1;
    display: inline !ie;
}
.catlinks li:first-child {
    padding-left: 0.25em;
    border-left: 0;
}
.mw-content-ltr ul, .mw-content-rtl .mw-content-ltr ul {
    margin: 0.3em 0 0 1.6em;
    padding: 0;
}
ol.references, div.reflist {
    font-size: 90%;
    margin-bottom: 0.5em;
}
.mw-content-ltr ul, .mw-content-rtl .mw-content-ltr ul {
    margin: 0.3em 0 0 1.6em;
    padding: 0;
}
#mw-page-base {
    height: 5em;
    background-position: bottom left;
    background-repeat: repeat-x;
    background-image: url(/w/skins/Vector/images/page-fade.png?1d168);
    background-color: #f6f6f6;
    background-image: -webkit-linear-gradient(top,#ffffff 50%,#f6f6f6 100%);
    background-image: -moz-linear-gradient(top,#ffffff 50%,#f6f6f6 100%);
    background-image: linear-gradient(#ffffff 50%,#f6f6f6 100%);
    background-color: #ffffff;
}
#mw-head-base {
    margin-top: -5em;
    margin-left: 10em;
    height: 5em;
}

#editform, #toolbar, #wpTextbox1 {
    clear: both;
}
form#editform {
    margin: 0;
    padding: 0;
}

.wikiEditor-ui {
    position: relative;
    clear: both;
    width: 100%;
}
.wikiEditor-ui .wikiEditor-ui-view {

    border: 1px solid #c8ccd1;

}
.wikiEditor-ui .wikiEditor-ui-left {

    float: left;
    width: 100%;

}
.wikiEditor-ui .wikiEditor-ui-top {

    position: relative;
    border-bottom: 1px solid #c8ccd1;

}
.wikiEditor-ui-toolbar {

    position: relative;
    display: block;
    background-color: #e8f2f8;
    background-image: -webkit-linear-gradient(top,#fdfefe 0,#e8f2f8 32px);
    background-image: -moz-linear-gradient(top,#fdfefe 0,#e8f2f8 32px);
    background-image: linear-gradient(#fdfefe 0,#e8f2f8 32px);
    z-index: 7;
}
.wikiEditor-ui-toolbar .tabs, .wikiEditor-ui-toolbar .section-main {

    position: relative;
    float: left;
    min-height: 26px;
    height: 100%;

}
.wikiEditor-ui-toolbar .group {

    float: left;
    min-height: 26px;
    padding-right: 6px;
    border-right: 1px solid #c8ccd1;
    margin: 3px;

}

.oo-ui-buttonElement {

    display: inline-block;
    line-height: normal;
    vertical-align: middle;

}
.oo-ui-buttonElement-frameless {

    position: relative;

}
.oo-ui-buttonWidget {

    margin-right: 0.5em;

}
.oo-ui-buttonElement-frameless.oo-ui-iconElement:first-child {

    margin-left: -0.42857143em;

}
.tool.oo-ui-buttonElement-frameless.oo-ui-iconElement {

    margin: 0;

}

.oo-ui-buttonElement > .oo-ui-buttonElement-button {

    cursor: pointer;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.oo-ui-buttonElement > .oo-ui-buttonElement-button {

    position: relative;
    border-radius: 2px;
    padding-top: 2.14285714em;
    font-weight: bold;
    text-decoration: none;

}
.oo-ui-buttonElement.oo-ui-widget-enabled > .oo-ui-buttonElement-button {

    -webkit-transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
    -moz-transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
    transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;

}
.oo-ui-buttonElement-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button {

    min-width: 1.42857143em;
    min-height: 1.42857143em;
    border-color: #fff;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    padding-top: 2.14285714em;
    padding-left: 2.14285714em;

}
.oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button {

    color: #222;

}
.tool.oo-ui-buttonElement-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button {

    padding: 3px;
    border: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

}
.oo-ui-iconElement-icon {

    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    min-width: 20px;
    width: 1.42857143em;
    min-height: 20px;
    height: 100%;

}
.oo-ui-icon-bold, .mw-ui-icon-bold::before {

    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-editing-styling&image=bold&format=rasterized&lang=en&skin=vector&version=1bp1bv0);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Ebold%3C/title%3E%3Cpath d=%22M9.93 3a9.34 9.34 0 0 1 2.39.27 4.53 4.53 0 0 1 1.62.73 2.87 2.87 0 0 1 .91 1.18 4 4 0 0 1 .29 1.55 3.09 3.09 0 0 1-.14.93 2.77 2.77 0 0 1-.43.83 3.21 3.21 0 0 1-.75.71 4.56 4.56 0 0 1-1.09.54 4 4 0 0 1 2.1 1.1 2.86 2.86 0 0 1 .68 2 4 4 0 0 1-.34 1.65 3.73 3.73 0 0 1-1 1.32 4.66 4.66 0 0 1-1.6.87 7 7 0 0 1-2.19.31H5V3zM7.87 5.2V9h1.89a5.1 5.1 0 0 0 1.07-.1 2.13 2.13 0 0 0 .78-.32A1.44 1.44 0 0 0 12.1 8a2.07 2.07 0 0 0 .17-.87 2.51 2.51 0 0 0-.14-.89 1.31 1.31 0 0 0-.43-.59 1.86 1.86 0 0 0-.7-.35 4.72 4.72 0 0 0-1-.1zm2.46 9.58a3.24 3.24 0 0 0 1.13-.17 1.91 1.91 0 0 0 .71-.45 1.54 1.54 0 0 0 .37-.64 2.66 2.66 0 0 0 .11-.75 2.2 2.2 0 0 0-.12-.76 1.36 1.36 0 0 0-.4-.57 1.89 1.89 0 0 0-.72-.36 4.09 4.09 0 0 0-1.1-.13H7.87v3.83z%22/%3E%3C/svg%3E");

}
.oo-ui-buttonElement.oo-ui-iconElement .oo-ui-iconElement-icon, .oo-ui-buttonElement.oo-ui-indicatorElement .oo-ui-indicatorElement-indicator {

    -webkit-transform: translateZ(0);
    transform: translateZ(0);

}
.oo-ui-buttonElement.oo-ui-widget-enabled > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon, .oo-ui-buttonElement.oo-ui-widget-enabled > .oo-ui-buttonElement-button > .oo-ui-indicatorElement-indicator {

    opacity: 0.87;
    -webkit-transition: opacity 100ms;
    -moz-transition: opacity 100ms;
    transition: opacity 100ms;

}
.oo-ui-buttonElement-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon {

    left: 0.35714286em;

}
.tool.oo-ui-buttonElement-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon {

    margin: 0;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    left: 3px;
    top: 3px;
    opacity: 0.7;

}
.oo-ui-icon-italic, .mw-ui-icon-italic::before {

    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-editing-styling&image=italic&format=rasterized&lang=en&skin=vector&version=1bp1bv0);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Eitalic%3C/title%3E%3Cpath d=%22M14 3v1l-1.32.08-.33.29-2.11 11.23.25.29L12 16v1H6v-1l1.32-.1.31-.31L9.74 4.38l-.21-.29L8 4V3z%22/%3E%3C/svg%3E");

}
.oo-ui-icon-link, .mw-ui-icon-link::before {

    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-editing-core&image=link&format=rasterized&lang=en&skin=vector&version=1bp1bv0);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Elink%3C/title%3E%3Cpath d=%22M4.83 15h2.91a4.88 4.88 0 0 1-1.55-2H5a3 3 0 1 1 0-6h3a3 3 0 0 1 2.82 4h2.1a4.82 4.82 0 0 0 .08-.83v-.34A4.83 4.83 0 0 0 8.17 5H4.83A4.83 4.83 0 0 0 0 9.83v.34A4.83 4.83 0 0 0 4.83 15z%22/%3E%3Cpath d=%22M15.17 5h-2.91a4.88 4.88 0 0 1 1.55 2H15a3 3 0 1 1 0 6h-3a3 3 0 0 1-2.82-4h-2.1a4.82 4.82 0 0 0-.08.83v.34A4.83 4.83 0 0 0 11.83 15h3.34A4.83 4.83 0 0 0 20 10.17v-.34A4.83 4.83 0 0 0 15.17 5z%22/%3E%3C/svg%3E");

}
.oo-ui-icon-image, .mw-ui-icon-image::before {

    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-media&image=image&format=rasterized&lang=en&skin=vector&version=1bp1bv0);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Eimage%3C/title%3E%3Cpath d=%22M2 2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm-.17 13l4.09-5.25 2.92 3.51L12.92 8l5.25 7z%22/%3E%3C/svg%3E");

}
.oo-ui-icon-reference, .mw-ui-icon-reference::before {

    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-editing-citation&image=reference&format=rasterized&lang=en&skin=vector&version=1bp1bv0);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Ereference%3C/title%3E%3Cpath d=%22M15 10l-2.78-2.78L9.44 10V1H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2z%22/%3E%3C/svg%3E");

}
.oo-ui-icon-puzzle, .mw-ui-icon-puzzle::before {

    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-editing-advanced&image=puzzle&format=rasterized&lang=en&skin=vector&version=1bp1bv0);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Epuzzle%3C/title%3E%3Ccircle cx=%2217%22 cy=%2210%22 r=%223%22/%3E%3Cpath d=%22M10.58 3A3 3 0 0 1 11 4.5a3 3 0 0 1-6 0A3 3 0 0 1 5.42 3H1v12a2 2 0 0 0 2 2h12V3z%22/%3E%3C/svg%3E");

}
.oo-ui-icon-highlight, .mw-ui-icon-highlight::before {

    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-editing-styling&image=highlight&format=rasterized&lang=en&skin=vector&version=1bp1bv0);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Ehighlight%3C/title%3E%3Cpath d=%22M15.14 2.27a1 1 0 0 0-1.41 0l-10 10a1 1 0 0 0 0 1.41L4 14l-3 4h5l1-1 .29.29a1 1 0 0 0 1.41 0l10-10a1 1 0 0 0 .03-1.43zM7 15l-2-2 9-9 2 2z%22/%3E%3C/svg%3E");

}
.wikiEditor-ui-toolbar .tabs {

    float: left;
    height: 100%;
    list-style: none;
    margin: 3px;
    min-height: 26px;
    position: relative;

}
.wikiEditor-ui-toolbar .tabs, .wikiEditor-ui-toolbar .section-main {

    position: relative;
    float: left;
    min-height: 26px;
    height: 100%;

}
.wikiEditor-ui-toolbar .tabs span.tab {

    display: block;
    float: left;
    line-height: 26px;

}
.wikiEditor-ui-toolbar .tabs span.tab a, .wikiEditor-ui-toolbar .tabs span.tab a:visited {

    background-image: url(/w/extensions/WikiEditor/modules/images/toolbar/arrow-ltr.png?93349);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22%3E%3Cpath d=%22M6 3l5 5-5 5z%22 fill=%22%23797979%22/%3E%3C/svg%3E");
    background-position: left center;
    background-repeat: no-repeat;
    color: #0645ad;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 26px;
    padding-left: 18px;
    padding-right: 12px;

}
.wikiEditor-ui-toolbar .tabs span.tab a.current, .wikiEditor-ui-toolbar .tabs span.tab a.current:visited {

    background-image: url(/w/extensions/WikiEditor/modules/images/toolbar/arrow-down.png?e9345);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22%3E%3Cpath d=%22M13 6l-5 5-5-5z%22 fill=%22%23797979%22/%3E%3C/svg%3E");
    color: #222;

}
wikiEditor-ui-toolbar .tabs span.tab a.current:hover, .wikiEditor-ui-toolbar .tabs span.tab a.current:visited:hover {

    text-decoration: none;

}
.wikiEditor-ui-toolbar .sections {

    float: left;
    width: 100%;
    clear: both;

}
.wikiEditor-ui-toolbar .sections .section {

    float: left;
    width: 100%;
    border-top: 1px solid #c8ccd1;
    background-color: #eaf3ff;

}
.wikiEditor-ui-toolbar .sections .section-hidden {

    display: none;

}
.wikiEditor-ui-toolbar .group {

    float: left;
    min-height: 26px;
    padding-right: 6px;
    border-right: 1px solid #c8ccd1;
    margin: 3px;

}
.wikiEditor-ui-toolbar .group .tool-select {

    float: left;
    margin: 2px;
        margin-right: 2px;
    height: 22px;
    cursor: pointer;
    border: 1px solid #c8ccd1;
    padding: 0;
    margin-right: 0;
    background-color: #fff;

}
.wikiEdi
tor-ui-toolbar .group .label {

    float: left;
    border: 0;
    height: 22px;
    line-height: 22px;
    margin: 2px;
    margin-left: 5px;
    margin-right: 8px;
    color: #666;
    cursor: default;

}
.wikiEditor-ui-toolbar .group .tool-select .label {

    background-image: url(/w/extensions/WikiEditor/modules/images/toolbar/arrow-down.png?e9345);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22%3E%3Cpath d=%22M13 6l-5 5-5-5z%22 fill=%22%23797979%22/%3E%3C/svg%3E");
    background-position: center right;
    background-repeat: no-repeat;
    padding: 0;
        padding-right: 0px;
        padding-left: 0px;
    margin: 0;
        margin-right: 0px;
    padding-left: 4px;
    padding-right: 22px;
    margin-right: 4px;
    cursor: pointer;
    text-decoration: none;
    color: #222;

}
.wikiEditor-ui-toolbar .group .tool-select .menu .options {

    position: absolute;
    display: none;
    margin-left: -1px;
    margin-top: 22px;
    border: 1px solid #c8ccd1;
    background-color: #fff;

}
.wikiEditor-ui-toolbar .group .tool-select:hover .options, .wikiEditor-ui-toolbar .group .tool-select .menu .options-shown {

    display: block;

}
.wikiEditor-ui-toolbar .group .tool-select .options .option {

    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: #000;
    white-space: nowrap;

}
.wikiEditor-ui-toolbar .group .tool-select .options .option[rel="heading-2"] {

    font-size: 150%;
    font-weight: normal;

}
.wikiEditor-ui-toolbar .group .tool-select .options .option[rel="heading-3"] {

    font-size: 132%;
    font-weight: normal;

}
.wikiEditor-ui-toolbar .group .tool-select .options .option[rel="heading-4"] {

    font-size: 116%;
    font-weight: normal;

}
.wikiEditor-ui-toolbar .group .tool-select .options .option[rel="heading-5"] {

    font-size: 100%;
    font-weight: bold;

}
.oo-ui-icon-listBullet, .mw-ui-icon-listBullet::before {

    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-editing-list&image=listBullet&format=rasterized&lang=en&skin=vector&version=1bp1bv0);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Ebullet list%3C/title%3E%3Cpath d=%22M7 15h12v2H7zm0-6h12v2H7zm0-6h12v2H7z%22/%3E%3Ccircle cx=%223%22 cy=%224%22 r=%222%22/%3E%3Ccircle cx=%223%22 cy=%2210%22 r=%222%22/%3E%3Ccircle cx=%223%22 cy=%2216%22 r=%222%22/%3E%3C/svg%3E");

}
.oo-ui-icon-listNumbered, .mw-ui-icon-listNumbered::before {

    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-editing-list&image=listNumbered&format=rasterized&lang=en&skin=vector&version=1bp1bv0);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Enumbered list%3C/title%3E%3Cpath d=%22M7 15h12v2H7zm0-6h12v2H7zm0-6h12v2H7zM2 6h1V1H1v1h1zm1 9v1H2v1h1v1H1v1h3v-5H1v1zM1 8v1h2v1H1.5a.5.5 0 0 0-.5.5V13h3v-1H2v-1h1.5a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5z%22/%3E%3C/svg%3E");

}
.oo-ui-icon-noWikiText, .mw-ui-icon-noWikiText::before {

    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-editing-advanced&image=noWikiText&format=rasterized&lang=en&skin=vector&version=1bp1bv0);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Eno WikiText%3C/title%3E%3Cpath d=%22M16 3v2h1v10l2 2V3zM9 5V3H5l2 2zM1 1L0 2l1 1v14h3v-2H3V5l2 2v10h4v-2H7V9l6 6h-2v2h4l3 3 1-1zm12 10l2 2V3h-4v2h2z%22/%3E%3C/svg%3E");

}
.oo-ui-icon-newline, .mw-ui-icon-newline::before {

    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-editing-advanced&image=newline&format=rasterized&lang=en&skin=vector&version=1bp1bv0);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Enewline%3C/title%3E%3Cpath d=%22M17 4v6H7V6l-6 5 6 5v-4h12V4z%22/%3E%3C/svg%3E");

}
.oo-ui-icon-bigger, .mw-ui-icon-bigger::before {

    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-editing-styling&image=bigger&format=rasterized&lang=en&skin=vector&version=1bp1bv0);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Ebigger%3C/title%3E%3Cpath d=%22M14 18h-1.57a.66.66 0 0 1-.44-.13.87.87 0 0 1-.25-.34l-1-2.77H5.3l-1 2.77a.83.83 0 0 1-.24.32.65.65 0 0 1-.44.15H2L7 5.47h2zm-3.85-4.7L8.42 8.72A12.66 12.66 0 0 1 8 7.37q-.1.41-.21.75t-.21.6L5.85 13.3zM15 2l3 4h-6z%22/%3E%3C/svg%3E");

}
.oo-ui-icon-smaller, .mw-ui-icon-smaller::before {

    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-editing-styling&image=smaller&format=rasterized&lang=en&skin=vector&version=1bp1bv0);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Esmaller%3C/title%3E%3Cpath d=%22M12 16h-1.05a.44.44 0 0 1-.29-.09.58.58 0 0 1-.17-.22l-.7-1.84H6.2l-.7 1.84a.56.56 0 0 1-.16.21.43.43 0 0 1-.29.1H4l3.31-8.35h1.38zm-2.57-3.13L8.28 9.82a8.5 8.5 0 0 1-.28-.9q-.06.27-.14.5l-.14.4-1.15 3zM15 6l3-4h-6z%22/%3E%3C/svg%3E");

}
.oo-ui-icon-superscript, .mw-ui-icon-superscript::before {

    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-editing-styling&image=superscript&format=rasterized&lang=en&skin=vector&version=1bp1bv0);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Esuperscript%3C/title%3E%3Cpath d=%22M18 1V0h-.5a1.49 1.49 0 0 0-1 .39 1.49 1.49 0 0 0-1-.39H15v1h.5a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5H15v1h.5a1.49 1.49 0 0 0 1-.39 1.49 1.49 0 0 0 1 .39h.5V8h-.5a.5.5 0 0 1-.5-.5v-6a.5.5 0 0 1 .5-.5zm-4.32 15h-2.42a.67.67 0 0 1-.46-.15 1.33 1.33 0 0 1-.28-.34l-2.77-4.44a2.65 2.65 0 0 1-.28.69L5 15.51a2.22 2.22 0 0 1-.29.34.58.58 0 0 1-.42.15H2l4.15-6.19L2.17 4h2.42a.81.81 0 0 1 .41.09.8.8 0 0 1 .24.26L8 8.59a2.71 2.71 0 0 1 .33-.74L10.6 4.4a.69.69 0 0 1 .6-.4h2.32l-4 5.71z%22/%3E%3C/svg%3E");

}
.oo-ui-icon-subscript, .mw-ui-icon-subscript::before {

    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-editing-styling&image=subscript&format=rasterized&lang=en&skin=vector&version=1bp1bv0);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Esubscript%3C/title%3E%3Cpath d=%22M13.68 16h-2.42a.67.67 0 0 1-.46-.15 1.33 1.33 0 0 1-.28-.34l-2.77-4.44a2.65 2.65 0 0 1-.28.69L5 15.51a2.22 2.22 0 0 1-.29.34.58.58 0 0 1-.42.15H2l4.15-6.19L2.17 4h2.42a.81.81 0 0 1 .41.09.8.8 0 0 1 .24.26L8 8.59a2.71 2.71 0 0 1 .33-.74L10.6 4.4a.69.69 0 0 1 .6-.4h2.32l-4 5.71zm3.82-4h.5v-1h-.5a1.49 1.49 0 0 0-1 .39 1.49 1.49 0 0 0-1-.39H15v1h.5a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5H15v1h.5a1.49 1.49 0 0 0 1-.39 1.49 1.49 0 0 0 1 .39h.5v-1h-.5a.5.5 0 0 1-.5-.5v-6a.5.5 0 0 1 .5-.5z%22/%3E%3C/svg%3E");

}
.oo-ui-icon-imageGallery, .mw-ui-icon-imageGallery::before {

    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-media&image=imageGallery&format=rasterized&lang=en&skin=vector&version=1bp1bv0);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Eimage gallery%3C/title%3E%3Cpath d=%22M3 5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2zm0 11l3.5-4.5 2.5 3 3.5-4.5 4.5 6zM16 2a2 2 0 0 1 2 2H2a2 2 0 0 1 2-2z%22/%3E%3C/svg%3E");

}
.oo-ui-icon-articleRedirect, .mw-ui-icon-articleRedirect::before {

    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-content&image=articleRedirect&format=rasterized&lang=en&skin=vector);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Earticle redirect%3C/title%3E%3Cpath d=%22M5 1a2 2 0 0 0-2 2v1c0 5 2 8 7 8V9l5 4-5 4v-3c-3.18 0-5.51-.85-7-2.68V17a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2z%22/%3E%3C/svg%3E");

}
.oo-ui-icon-table, .mw-ui-icon-table::before {

    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-editing-advanced&image=table&format=rasterized&lang=en&skin=vector&version=1bp1bv0);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Etable%3C/title%3E%3Cpath d=%22M2 2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm0 4h7v4H2zm0 10v-4h7v4zm16 0h-7v-4h7zm0-6h-7V6h7z%22/%3E%3C/svg%3E");

}

.wikiEditor-ui-toolbar .sections .section {
    float: left;
    width: 100%;
    border-top: 1px solid #c8ccd1;
    background-color: #eaf3ff;
}

.wikiEditor-ui-toolbar .booklet .index {

    float: left;
    width: 20%;
    height: 125px;
    overflow: auto;
    resize: horizontal;

}
.wikiEditor-ui-toolbar .booklet .index div {

    padding: 4px;
        padding-left: 4px;
    padding-left: 6px;
    cursor: pointer;
    color: #0645ad;

}
.wikiEditor-ui-toolbar .booklet .index .current {

    background-color: #eaecf0;
    color: #222;
    cursor: default;

}
.wikiEditor-ui-toolbar .booklet .pages {

    background-color: #f8f9fa;
    height: 125px;
    overflow: auto;

}

.wikiEditor-ui-toolbar .sections .section {

    float: left;
    width: 100%;
    border-top: 1px solid #c8ccd1;
    background-color: #eaf3ff;

}

.wikiEditor-ui-toolbar .page-table {

    padding-left: 5px;
    padding-right: 5px;

}
.wikiEditor-ui-toolbar .page-table table {

    background: none;
    border-collapse: collapse;
    width: 100%;

}
.wikiEditor-ui-toolbar .page-table table {

    border-collapse: collapse;

}
.wikiEditor-ui-toolbar .page-table th {

    color: #54595d;

}
.wikiEditor-ui-toolbar .page-table th, .wikiEditor-ui-toolbar .page-table td {

    margin: 0;
    padding: 5px;
    text-align: left;

}
.mw-editfont-monospace {

    font-family: monospace,monospace;

}
.wikiEditor-ui textarea {

    width: 100%;
    border: 0;

}
#wpTextbox1 {

    line-height: 1.5em;
    resize: vertical;

}
.mw-editform #wpTextbox1 {

    margin: 0;
    display: block;
    max-height: 100vh;
    min-height: 5em;

}
div#editpage-specialchars {

    display: block;
    border: 1px solid #c0c0c0;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgb(192, 192, 192);
    padding: .5em 1em;

}
textarea#wpTextbox1 + #editpage-specialchars, .wikiEditor-ui-clear + #editpage-specialchars {

    border-top: none;

}
.mw-body-content p {

    line-height: inherit;
    margin: 0.5em 0;

}
#editpage-specialchars a {

    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1px 4px;

}
.editOptions {

    background-color: #eaecf0;
    color: #222;
    border: 1px solid #c8ccd1;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgb(200, 204, 209);
    border-top: 0;
    padding: 1em 1em 1.5em 1em;
    margin-bottom: 2em;

}
.mw-editform .editOptions {

    border-radius: 0 0 2px 2px;

}
.oo-ui-fieldLayout {

    display: block;
    margin-top: 1.14285714em;

}
.oo-ui-fieldLayout.oo-ui-labelElement, .oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline {

    margin-top: 0.85714286em;

}
.oo-ui-fieldLayout:first-child, .oo-ui-fieldLayout.oo-ui-labelElement:first-child, .oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline:first-child {

    margin-top: 0;

}
.mw-editform #wpSummaryLabel {

    margin: 0;

}
.oo-ui-fieldLayout.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header, .oo-ui-fieldLayout.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-field {

    display: block;

}
.oo-ui-fieldLayout.oo-ui-labelElement > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header {

    padding-bottom: 0.28571429em;

}
.oo-ui-fieldLayout.oo-ui-labelElement.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header, .oo-ui-fieldLayout.oo-ui-labelElement.oo-ui-fieldLayout-align-inline > .oo-ui-fieldLayout-body {

    max-width: 50em;

}
.mw-editform #wpSummaryWidget, .mw-editform #wpSummaryLabel .oo-ui-fieldLayout-header {

    max-width: none;

}
.oo-ui-labelElement .oo-ui-labelElement-label, .oo-ui-labelElement.oo-ui-labelElement-label {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.oo-ui-labelElement .oo-ui-labelElement-label {

    line-height: 1.42857143em;

}
.oo-ui-fieldLayout.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header, .oo-ui-fieldLayout.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-field {

    display: block;

}
.oo-ui-textInputWidget {

    position: relative;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 50em;

}
.oo-ui-inputWidget:last-child {

    margin-right: 0;

}
.mw-editform #wpSummaryWidget {

    display: block;
    margin-bottom: 1em;

}
.mw-editform #wpSummaryWidget, .mw-editform #wpSummaryLabel .oo-ui-fieldLayout-header {

    max-width: none;

}
.oo-ui-textInputWidget input {

    -moz-appearance: textfield;

}
.oo-ui-textInputWidget input {

    height: 2.28571429em;

}
.oo-ui-textInputWidget .oo-ui-inputWidget-input {

    -webkit-appearance: none;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.oo-ui-textInputWidget .oo-ui-inputWidget-input {

    background-color: #fff;
    color: #000;
    margin: 0;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    padding: 0.42857143em 0.57142857em;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.28571429em;

}
.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input {

    box-shadow: inset 0 0 0 1px transparent;
    -webkit-transition: border-color 250ms,box-shadow 250ms;
    -moz-transition: border-color 250ms,box-shadow 250ms;
    transition: border-color 250ms,box-shadow 250ms;

}
.mw-editform #editpage-copywarn {

    font-size: 0.9em;
    line-height: 1.26;

}
.mw-body-content p {

    line-height: inherit;
    margin: 0.5em 0;

}
.oo-ui-buttonElement {

    display: inline-block;
    line-height: normal;
    vertical-align: middle;

}
.oo-ui-inputWidget {

    margin-right: 0.5em;

}
.mw-editform .editButtons .oo-ui-buttonElement, .mw-editform .editHelp {

    margin-top: 0.5em;

}

#wpSaveWidget{
  color: #fff;
  margin-right: 0.5em;
  margin-left: 14px;
  background-color: #36c;
  border-color: #36c;
  padding-left: 0.85714286em;
  padding-right: 0.85714286em;
  line-height: 1.28571429em;
}

#wpPreviewWidget,#wpDiffWidget{
  margin-right: 0.5em;
  background-color: #f8f9fa;
  color: #222;
  border-color: #a2a9b1;
  padding-left: 0.85714286em;
  padding-right: 0.85714286em;
  line-height: 1.28571429em;
}
.oo-ui-buttonElement > .oo-ui-buttonElement-button {

    cursor: pointer;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.oo-ui-buttonElement > .oo-ui-buttonElement-button {

    position: relative;
    border-radius: 2px;
    padding-top: 2.14285714em;
    font-weight: bold;
    text-decoration: none;

}

.oo-ui-buttonElement.oo-ui-labelElement > .oo-ui-buttonElement-button {

    line-height: 1;

}
.oo-ui-buttonElement.oo-ui-widget-enabled > .oo-ui-buttonElement-button {

    -webkit-transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
    -moz-transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
    transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;

}
.oo-ui-buttonElement-frameless.oo-ui-labelElement > .oo-ui-buttonElement-button {

    border-color: #fff;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    padding: 0.42857143em 0.14285714em;

}
.oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button {

    color: #222;

}
.oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button {

    color: #d33;

}
.oo-ui-labelElement .oo-ui-labelElement-label, .oo-ui-labelElement.oo-ui-labelElement-label {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.oo-ui-labelElement .oo-ui-labelElement-label {

    line-height: 1.42857143em;

}
.oo-ui-buttonElement.oo-ui-labelElement > input.oo-ui-buttonElement-button, .oo-ui-buttonElement.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-labelElement-label {

    line-height: 1.28571429em;

}

.oo-ui-buttonElement {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}
.oo-ui-buttonElement-frameless {
    position: relative;
}
.oo-ui-buttonWidget {
    margin-right: 0.5em;
}
.oo-ui-buttonWidget:last-child {
    margin-right: 0;
}
.mw-editform .editButtons .oo-ui-buttonElement, .mw-editform .editHelp {
    margin-top: 0.5em;
}
.oo-ui-buttonElement-frameless.oo-ui-labelElement:first-child {
    margin-left: -0.14285714em;
}

.mw-body-content h3, .mw-body-content h4, .mw-body-content h5, .mw-body-content h6 {
    line-height: 1.6;
    margin-top: 0.3em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.mw-body-content h3 {
    font-size: 1.2em;
}

.mw-body-content h3, .mw-body-content h4 {
    font-weight: bold;
}

@media screen and (min-width: 982px){
    .mw-body, #mw-head-base, #left-navigation, #footer {
        margin-left: 11em;
    }
    .mw-body {
        padding: 1.25em 1.5em 1.5em 1.5em;
    }
}
